In [4]:
import pandas as pd

HOME_PATH = '/Users/shaynaanderson-hill/medic_mobile/20190402-Data Scientist Interview Exercises Datasets/'

#Load Datasets
assessment_follow_up_df = pd.read_csv(
    HOME_PATH + 'assessment_follow_up.csv',
    header=0, 
    dtype={'width': int, 'column_name': str, 'variable_type': str}
)

assessments_df = pd.read_csv(
    HOME_PATH + 'assessments.csv',
    header=0, 
    dtype={'width': int, 'column_name': str, 'variable_type': str}
)

delivery_df = pd.read_csv(
    HOME_PATH + 'delivery.csv',
    header=0, 
    dtype={'width': int, 'column_name': str, 'variable_type': str}
)

family_survey_df = pd.read_csv(
    HOME_PATH + 'family_survey.csv',
    header=0, 
    dtype={'width': int, 'column_name': str, 'variable_type': str}
)

person_df = pd.read_csv(
    HOME_PATH + 'person.csv',
    header=0, 
    dtype={'width': int, 'column_name': str, 'variable_type': str}
)

pregnancy_df = pd.read_csv(
    HOME_PATH + 'pregnancy.csv',
    header=0, 
    dtype={'width': int, 'column_name': str, 'variable_type': str}
)

pregnancy_visit_df = pd.read_csv(
    HOME_PATH + 'pregnancy_visit.csv',
    header=0, 
    dtype={'width': int, 'column_name': str, 'variable_type': str}
)

In [14]:
person_df

,person_id,sex,date_of_birth,hh_id
0,98563c4d81da0e32bb5b0a6b1a6a7789,female,2014-04-01,e78c2a3b3abb122181d5eed0c3f4bafd
1,03de60cfccca98f610167b7b3e6407ed,female,1976-03-31,4c486f853d45d1283e304235343630f3
2,af1730d77ea245c7895ff373d04cfd1f,female,2004-04-01,4c486f853d45d1283e304235343630f3
3,290c0293f551ca5b5beb1d4134bf24c2,female,1955-04-02,abdfde14676cf4be55a831408306904f
4,d10ed585efaf579ca89253dbaf308f7c,male,1951-04-01,abdfde14676cf4be55a831408306904f
5,01b2d9e02ca5f10a2acba86599e5e3e2,male,2019-03-31,3b7bddec614cd7f10958666e6ec38abd
6,852d40ef9b32749410683345ef10f15a,female,2015-04-01,525e172401b1989f16627f6b41bf9bc5
7,3fb80407a9d29d0f75bd182b3bba3b92,male,2017-05-29,6c4fa9cd3ba486951035fa35340b35eb
8,6024333c435270663752b846531b9827,male,1963-03-30,6c4fa9cd3ba486951035fa35340b35eb
9,964a0b3d1716828e145df0d28d41bced,male,2019-04-01,c32c3b1423a1ee7ed407e9903488e69e
10,e5703ec2e717347a7075fbab3b4d4132,male,2019-03-31,30d566e1ca8931e9f66a6c57dd4fe495
11,c95d3d6a87a1b4ac63e530fd8b4605a8,male,2019-03-27,73a2089c7b9a4e35a7fb1075ba96bfb8
12,bbf0346d0a17e01dbb8ef258a00d6a23,female,2019-04-01,939caad5166a12aeb7a18d206a126931
13,8a47824dc0f605c618f52203472b7abc,male,1954-04-02,fcd2a78b1c5cea70f260123d93192c99
14,e56f5223145e7a21653ce4a07201f8e4,female,1997-04-01,fcd2a78b1c5cea70f260123d93192c99
15,efb5725925df6b5689b6a715568b8180,female,2009-04-01,e3e199740ea60efc7a0fe26e058962af
16,2342a0fcb9d05a79aef6cef63b3d2efa,male,2011-04-01,e3e199740ea60efc7a0fe26e058962af
17,fb5d5d0e9a0e3badb046dedb7977e1c3,male,2019-03-27,1c4e438ef3d4b6c7d01bb7fb99213506
18,0ea30cf7ba01182260fe1f60f72b4e11,female,2019-04-01,5f60f5ab4e133384168fefa418b7e86c
19,e86e89a1e2f7bd68983bc8d7e75d192b,female,2019-03-31,c29f7f96757754bd52055939d188227d
20,fa8f23a0b348f1a119a25147ecca4de2,female,2002-06-20,b7be824d546bba06b58f204e1cd8026a
21,112a8803c5d9e33b70ba6c7f1346214f,female,2019-03-31,c29f7f96757754bd52055939d188227d
22,abb8e8bdec68516c4aaee5f441c79d0c,male,2019-03-31,3be9ba82ed8695b663cac2a96dcf9975
23,2631697439085ff6ccf8e6c914684fb8,male,2019-04-01,0e35fd0cdd8e75591453f0b7aae5fee1
24,9500007066591f42362297968c48440b,male,2019-04-01,0e35fd0cdd8e75591453f0b7aae5fee1
25,8559189834f83ab2d2150ad187fd6d23,male,2017-06-01,93847939d882ef586770612cc40b1038
26,8bb49e4c53fd92290eb8f1e936c4e7d6,female,1989-03-31,93847939d882ef586770612cc40b1038
27,b23d6f958ec303664dd43b1f8df3cc7c,female,2001-03-31,b7322531dd60033963660b3a6c1267ae
28,b8b14c95e637a4832582756eb756d4e7,female,2011-04-01,654f28b89f002ace05749a03dfa3e2b5
29,0ec7bb3817115708e0ad1c5631aeb321,male,2015-04-01,654f28b89f002ace05749a03dfa3e2b5
...,...,...,...,...
909961,dda8782b6b8bf876f520bbf572daab4a,female,1990-07-25,c39a0f945dc958f427c2db51bb7d0eb1
909962,a2edc2757a9d7c1a80c1f525896d6028,female,2009-01-25,c39a0f945dc958f427c2db51bb7d0eb1
909963,fdb46324de0d877a07770276ae5ba882,female,2016-06-27,de362dabb12ef990ae459661243b16f9
909964,24266e2b0932c7b9d9565f11b8dcbd77,male,1995-07-22,74cb9fd2f5adee4ffd90dfbc96683bc8
909965,7822790c75399f1fd16e4a3d9f241049,male,2018-07-25,d372e48a737c36495270b6421b0a4a98
909966,c2b62d33a4d2866b65714e0cb8c17726,female,1997-10-13,e24171d8994a25535374e8756db4db60
909967,fef44ac58702b6295cf76f66a093b3be,male,1995-07-24,f9e0fa603dc80a19fc62c1cc4c6cb0e8
909968,7fb73f5ecd7cb7bea73cf2ec330f4ffc,female,1995-07-24,f9e0fa603dc80a19fc62c1cc4c6cb0e8
909969,6dbd9b2dafa23b71dfae682b0bb011d7,male,2018-07-03,f8baf95fa3ad97fa348eb7175f3a11f5
909970,fd1f39dd53b643d823181a22065a78cb,female,2014-07-22,800ba8ca582bbe5e6d42e59673c7d529
909971,40f95425b1bab0ca76d009033c65c2ee,female,2013-07-24,843010956960123efd41afb6b5f46643
909972,be678b21f736b57be049316072f29051,female,2016-07-22,800ba8ca582bbe5e6d42e59673c7d529
909973,b376b2ba134fc88f8cdd7e48bfff60f8,female,2018-07-23,a7bce8ceaac8389c71e5c7bcea1cc49c
909974,d6ce975aa4e19ec6822352c715ea6514,male,2018-02-13,61a240425e37b8191403317b6ba55f61
909975,3e1171076457e5bd8c6fbf064cbdfc4c,female,1998-07-22,61a240425e37b8191403317b6ba55f61
909976,77b9143d85d5549d568307f81e1aa109,male,1970-01-26,f83ac93456cf269ed47925d18c54618e
909977,9b20603e739e8c693b82b61b174524da,female,2018-07-23,e2626b3b87f46d9b9f26492434606133
909978,831a645e15da9e5faabe01c5c06a13ce,female,2018-01-16,612fcbea0d03abc1bd34d090e5025fcc
909979,230ef872393e6b9c044e83e58b453261,female,2014-07-22,da3c387253f3dae0e002975cb0aff0b0
909980,222af2f40c36573fac66919da166595c,female,2018-05-03,5d3268743163e64cee889d15726e95dc
909981,48170cd84b1a0d40a12b949e8058f3a0,female,2016-02-08,5d66c7008c474819c28704dd8384d382
909982,cb2e7fd37c481be4788a2f08f8de3e2b,male,2005-07-23,46d2f244a9a2980fed0f7b0c927bc1b4
909983,1092aaf80a5c0bd4a85fa7594a841b88,male,2014-09-23,46d2f244a9a2980fed0f7b0c927bc1b4
909984,0daa634748fa6e9a961f11fd29f08caf,female,1986-07-23,46d2f244a9a2980fed0f7b0c927bc1b4
909985,70fc7f4e95cbead5c1dd22c73442105b,male,2008-07-23,46d2f244a9a2980fed0f7b0c927bc1b4
909986,74470deab77d36603078c14fcca8cb50,male,2010-07-23,46d2f244a9a2980fed0f7b0c927bc1b4
909987,f030e83a572cf772ead67c700e8cbccc,female,1999-07-15,260c0f3fecec5c3882be5bb15bbdbff6
909988,31e71170e8af1b630e2bf9a0d0f9f635,female,1995-07-25,bfaad047ef5ba976f93511e6ea045afb
909989,e4363ac55bef767fa7d8174894bd0ae1,male,2012-07-24,e6b46e8046cc61f4b189a05cc0132dd5
909990,300e11354577e77cf4b1104883769e45,female,1998-07-22,3a44e15ffc1fcc97c4d03bb9a2bdba5c

In [18]:
person_df.columns

Index(['person_id', 'sex', 'date_of_birth', 'hh_id'], dtype='object')

In [26]:
#Is the patient_id a foreign key of the person table?
#Cheack a given patient_id
person_df[person_df['person_id'] == '43247b91bca109e83ff8e119daaab050']

,person_id,sex,date_of_birth,hh_id
303943,43247b91bca109e83ff8e119daaab050,female,1989-10-14,49a14e0b378aeaeedc49ae48b3188878

In [29]:
#are CHW workers in the person table?
person_df[person_df['person_id'] == '7f2d25199eef813addb4d9f783b3e075']

,person_id,sex,date_of_birth,hh_id
405957,7f2d25199eef813addb4d9f783b3e075,female,1978-01-20,84fdf7814354c76f8f5478a2492cc957

In [32]:
#join person and family_survey
person_family_df = pd.merge(person_df, family_survey_df, on='hh_id', how='left') #use left join in case their are patients without a household id

In [35]:
person_family_df.head()

,person_id,sex,date_of_birth,hh_id,how_water_treated,has_mosquito_net,latrine,hand_washing_facilities,electricity,television,...,dvd,radio,clock,floor,walls,roof,fuel,toilet,highest_education_achieved,wealth_quintile
0,98563c4d81da0e32bb5b0a6b1a6a7789,female,2014-04-01,e78c2a3b3abb122181d5eed0c3f4bafd,filter,yes,yes,no,yes,no,...,no,yes,no,earth_sand,walls_other,roof_other,wood,toilet_other,primary,1.0
1,03de60cfccca98f610167b7b3e6407ed,female,1976-03-31,4c486f853d45d1283e304235343630f3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,af1730d77ea245c7895ff373d04cfd1f,female,2004-04-01,4c486f853d45d1283e304235343630f3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,290c0293f551ca5b5beb1d4134bf24c2,female,1955-04-02,abdfde14676cf4be55a831408306904f,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d10ed585efaf579ca89253dbaf308f7c,male,1951-04-01,abdfde14676cf4be55a831408306904f,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
#join assessment
person_family_assessments_df = pd.merge(person_family_df, assessments_df,  how='left', left_on=['person_id','hh_id'], right_on = ['patient_id','hh_id'])

In [37]:
person_family_assessments_df.head()

,person_id,sex,date_of_birth,hh_id,how_water_treated,has_mosquito_net,latrine,hand_washing_facilities,electricity,television,...,treatment_follow_up,referral_follow_up,gave_cough_syrup,gave_amox,gave_ors,gave_zinc,gave_al,al_pack,gave_paracetamol,treat_for_malaria
0,98563c4d81da0e32bb5b0a6b1a6a7789,female,2014-04-01,e78c2a3b3abb122181d5eed0c3f4bafd,filter,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,03de60cfccca98f610167b7b3e6407ed,female,1976-03-31,4c486f853d45d1283e304235343630f3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,af1730d77ea245c7895ff373d04cfd1f,female,2004-04-01,4c486f853d45d1283e304235343630f3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,290c0293f551ca5b5beb1d4134bf24c2,female,1955-04-02,abdfde14676cf4be55a831408306904f,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d10ed585efaf579ca89253dbaf308f7c,male,1951-04-01,abdfde14676cf4be55a831408306904f,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
#join assessment_follow_up
person_family_assessments_assessment_follow_up_df = pd.merge(person_family_assessments_df, assessment_follow_up_df,  how='left', left_on=['person_id','hh_id', 'assessment_id'], right_on = ['patient_id','hh_id', 'assessment_id'])

In [40]:
#join pregnancy



person_family_assessments_assessment_follow_up_pregnancy_df = pd.merge(person_family_assessments_assessment_follow_up_df, pregnancy_df,  how='left', left_on=['person_id','hh_id'], right_on = ['patient_id','hh_id'])

In [41]:
person_family_assessments_assessment_follow_up_pregnancy_pregnancy_visit_df = pd.merge(person_family_assessments_assessment_follow_up_pregnancy_df, pregnancy_visit_df,  how='left', left_on=['person_id','hh_id'], right_on = ['patient_id','hh_id'])

In [42]:
master_df = pd.merge(person_family_assessments_assessment_follow_up_pregnancy_pregnancy_visit_df, delivery_df,  how='left', left_on=['person_id','hh_id'], right_on = ['patient_id','hh_id'])

In [43]:
master_df.head()

,person_id,sex,date_of_birth,hh_id,how_water_treated,has_mosquito_net,latrine,hand_washing_facilities,electricity,television,...,how_visit_conducted,referred_to_health_facility,danger_signs_y,delivery_id,chw_id,delivery_date_time_submitted,patient_id,facility_delivery,danger_signs_at_delivery,first_visit_on_time
0,98563c4d81da0e32bb5b0a6b1a6a7789,female,2014-04-01,e78c2a3b3abb122181d5eed0c3f4bafd,filter,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,03de60cfccca98f610167b7b3e6407ed,female,1976-03-31,4c486f853d45d1283e304235343630f3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,af1730d77ea245c7895ff373d04cfd1f,female,2004-04-01,4c486f853d45d1283e304235343630f3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,290c0293f551ca5b5beb1d4134bf24c2,female,1955-04-02,abdfde14676cf4be55a831408306904f,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d10ed585efaf579ca89253dbaf308f7c,male,1951-04-01,abdfde14676cf4be55a831408306904f,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN